<header id="home">
  <div>
    <p>I BELIEVE IN</p>
    <h1>EAT(); SLEEP(); CODE(); REPEAT();</h1>
  </div>
</header>
<section id="bio">
  <img src="../../assets/my_Photo.jpg" alt="Photo">
  <article>
    <h2>ProGrad</h2>
    <p>I'm Lakshmi Manohar Mekala, from Proddatur, Cuddapah (Dist), Andhra Pradesh. And I completed my B. Tech
      gradution in the stream of Electronics and Communication Engineering from Chaitanya Bharati Institute of
      Technology, Proddatur. Comming to intermediate education, completed at NRI Junior College, and schooling
      at Aditya High School.

      <span class="break"></span>
      I'm quite at mathematics and problem solving through pogrammming in C and Java </p>
    <a href="#" class="link-button">Download My Resume</a>
  </article>
</section>
